kubernetes/apps/home/n8n/workflows/langgraph-inbox.json
{
    "name": "LangGraph → Inbox webhook",
    "nodes": [
        {
            "name": "Inbox Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                240,
                300
            ],
            "parameters": {
                "httpMethod": "POST",
                "path": "langgraph-inbox",
                "responseMode": "lastNode",
                "options": {}
            }
        },
        {
            "name": "Normalize body",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                460,
                300
            ],
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "a1",
                            "name": "task_id",
                            "value": "={{ $json.body.task_id || $now.toMillis() + '-' + Math.random().toString(36).slice(2, 10) }}",
                            "type": "string"
                        },
                        {
                            "id": "a2",
                            "name": "source",
                            "value": "={{ $json.body.source || 'voice' }}",
                            "type": "string"
                        },
                        {
                            "id": "a3",
                            "name": "content",
                            "value": "={{ $json.body.content }}",
                            "type": "string"
                        },
                        {
                            "id": "a4",
                            "name": "user",
                            "value": "={{ $json.body.user || 'rob' }}",
                            "type": "string"
                        }
                    ]
                },
                "includeOtherFields": false,
                "options": {}
            }
        },
        {
            "name": "Call /inbox on langgraph-agents",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                680,
                300
            ],
            "parameters": {
                "method": "POST",
                "url": "http://langgraph-agents.ai.svc.cluster.local:8765/inbox",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ task_id: $json.task_id, source: $json.source, content: $json.content, user: $json.user }) }}",
                "options": {
                    "timeout": 300000
                }
            }
        },
        {
            "name": "Paused?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                900,
                300
            ],
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "combinator": "and",
                    "conditions": [
                        {
                            "id": "c1",
                            "leftValue": "={{ $json.status }}",
                            "rightValue": "paused",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ]
                }
            }
        },
        {
            "name": "Forward to approval-post",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1120,
                200
            ],
            "parameters": {
                "method": "POST",
                "url": "http://n8n.home.svc.cluster.local:8080/webhook/langgraph-approval-post",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ task_id: $json.task_id, paused_for: $json.paused_for }) }}",
                "options": {
                    "timeout": 30000
                }
            }
        },
        {
            "name": "Build response",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                1340,
                300
            ],
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "r1",
                            "name": "task_id",
                            "value": "={{ $('Normalize body').first().json.task_id }}",
                            "type": "string"
                        },
                        {
                            "id": "r2",
                            "name": "status",
                            "value": "={{ $('Call /inbox on langgraph-agents').first().json.status }}",
                            "type": "string"
                        }
                    ]
                },
                "includeOtherFields": false,
                "options": {}
            }
        }
    ],
    "connections": {
        "Inbox Webhook": {
            "main": [
                [
                    {
                        "node": "Normalize body",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Normalize body": {
            "main": [
                [
                    {
                        "node": "Call /inbox on langgraph-agents",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Call /inbox on langgraph-agents": {
            "main": [
                [
                    {
                        "node": "Paused?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Paused?": {
            "main": [
                [
                    {
                        "node": "Forward to approval-post",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Build response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Forward to approval-post": {
            "main": [
                [
                    {
                        "node": "Build response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}
