kubernetes/apps/home/n8n/workflows/langgraph-approval-receive.json
{
    "name": "LangGraph → Approval receive (Zulip reaction)",
    "nodes": [
        {
            "name": "Zulip Reaction Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                240,
                300
            ],
            "parameters": {
                "httpMethod": "POST",
                "path": "langgraph-approval-receive",
                "responseMode": "lastNode",
                "options": {}
            }
        },
        {
            "name": "Parse reaction + verify actor",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                460,
                300
            ],
            "parameters": {
                "language": "javaScript",
                "jsCode": "// Zulip outgoing-webhook payload for reaction events.\n// We require: reactor.user_id matches Rob's ID, message_topic encodes task_id,\n// emoji_name maps to one of approve/reject/defer.\n\nconst body = $input.first().json.body || {};\nconst ROB_USER_ID = parseInt(process.env.ROB_ZULIP_USER_ID || '0', 10);\n\nif (body.user_id !== ROB_USER_ID) {\n  return [{ json: { skip: true, reason: 'reactor is not Rob', user_id: body.user_id } }];\n}\n\nconst emoji = body.emoji_name || '';\nlet reaction;\nif (emoji === 'thumbs_up' || emoji === '+1') reaction = 'approve';\nelse if (emoji === 'thumbs_down' || emoji === '-1') reaction = 'reject';\nelse if (emoji === 'pause' || emoji === 'pause_button') reaction = 'defer';\nelse return [{ json: { skip: true, reason: 'irrelevant emoji', emoji } }];\n\n// Topic format: \"<task_id> — Class <C/D>: <action>\"\nconst topic = body.message?.topic || body.topic || '';\nconst taskMatch = topic.match(/^([\\w-]+)\\s/);\nif (!taskMatch) {\n  return [{ json: { skip: true, reason: 'no task_id in topic', topic } }];\n}\nconst task_id = taskMatch[1];\n\n// We need server + method + action_class to sign the token. Parse from topic:\n// \"<task_id> — Class C: ha-mcp.call_service\"\nconst classMatch = topic.match(/Class\\s+([ABCD]):/);\nconst targetMatch = topic.match(/Class\\s+[ABCD]:\\s*(\\S+)/);\nif (!classMatch || !targetMatch) {\n  return [{ json: { skip: true, reason: 'malformed topic', topic } }];\n}\nconst action_class = classMatch[1];\nconst target = targetMatch[1];\nconst [server, ...rest] = target.split('.');\nconst method = rest.join('.');\n\nreturn [{ json: { skip: false, task_id, reaction, action_class, server, method } }];"
            }
        },
        {
            "name": "Skip?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                680,
                300
            ],
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "combinator": "and",
                    "conditions": [
                        {
                            "id": "s1",
                            "leftValue": "={{ $json.skip }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "true"
                            }
                        }
                    ]
                }
            }
        },
        {
            "name": "Sign approval token",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                900,
                400
            ],
            "parameters": {
                "language": "javaScript",
                "jsCode": "const crypto = require('crypto');\n\nconst { task_id, action_class, server, method, reaction } = $input.first().json;\nconst secret = process.env.LANGGRAPH_APPROVAL_SIGNING_KEY;\nif (!secret) {\n  throw new Error('LANGGRAPH_APPROVAL_SIGNING_KEY env not set');\n}\n\nconst nonce = crypto.randomBytes(8).toString('hex');\nconst payload = `${task_id}|${action_class}|${server}|${method}|${nonce}`;\nconst sig = crypto.createHmac('sha256', secret).update(payload).digest('hex');\nconst token = `${payload}:${sig}`;\n\nreturn [{ json: { task_id, reaction, approval_token: token, actor: 'rob' } }];"
            }
        },
        {
            "name": "POST /approval to langgraph-agents",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1120,
                400
            ],
            "parameters": {
                "method": "POST",
                "url": "http://langgraph-agents.ai.svc.cluster.local:8765/approval",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ task_id: $json.task_id, reaction: $json.reaction, approval_token: $json.approval_token, actor: $json.actor }) }}",
                "options": {
                    "timeout": 300000
                }
            }
        },
        {
            "name": "Ack",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                1340,
                400
            ],
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "ack1",
                            "name": "status",
                            "value": "={{ $json.status || 'completed' }}",
                            "type": "string"
                        }
                    ]
                },
                "includeOtherFields": false,
                "options": {}
            }
        },
        {
            "name": "Ignore",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                900,
                200
            ],
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "ig1",
                            "name": "status",
                            "value": "ignored",
                            "type": "string"
                        },
                        {
                            "id": "ig2",
                            "name": "reason",
                            "value": "={{ $json.reason }}",
                            "type": "string"
                        }
                    ]
                },
                "includeOtherFields": false,
                "options": {}
            }
        }
    ],
    "connections": {
        "Zulip Reaction Webhook": {
            "main": [
                [
                    {
                        "node": "Parse reaction + verify actor",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse reaction + verify actor": {
            "main": [
                [
                    {
                        "node": "Skip?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Skip?": {
            "main": [
                [
                    {
                        "node": "Ignore",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Sign approval token",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Sign approval token": {
            "main": [
                [
                    {
                        "node": "POST /approval to langgraph-agents",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "POST /approval to langgraph-agents": {
            "main": [
                [
                    {
                        "node": "Ack",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}
